.fs-0 {
    font-size: calc(1.5rem + 1.5vw) !important;
}

.fs-7 {
    font-size: 0.875rem !important;
}

.fs-8 {
    font-size: 0.765rem !important;
}

.fs-9 {
    font-size: 0.670rem !important;
}

.mt-6 {
    margin-top: 5rem !important;
}

.mt-7 {
    margin-top: 7.5rem !important;
}

.mb-6 {
    margin-bottom: 5rem !important;
}

.mb-7 {
    margin-bottom: 7.5rem !important;
}

.pt-6 {
    padding-top: 5rem !important;
}

.pt-7 {
    padding-top: 7.5rem !important;
}

.text-justify {
    text-align: justify;
}

pre.highlight {
    padding: 10px;
}

h2[id]:hover, h3[id]:hover, h4[id]:hover {
    cursor: pointer;
    position: relative;
    text-decoration: none;
}

h2[id]:hover::after, h3[id]:hover::after, h4[id]:hover::after {
    position: absolute;
    top: 0;
    left: -2rem;
    content:" \f470";
    /*noinspection CssNoGenericFontName*/
    font-family: bootstrap-icons !important;
}

.sidebar .nav-item > a:not(.active):hover {
    background-color: var(--bs-secondary);
}

.sidebar .nav-item > .nav > .nav-item > a {
    padding: 4px 8px 4px 32px;
}

img {
    max-width: 100%;
}

.screenshot {
    padding: 8px;
    border: 1px dashed var(--bs-secondary);
    background-color: var(--bs-secondary-bg-subtle);
}

.btn-copy {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background: none;
    border: none;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}
.btn-copy:hover {
    opacity: 1;
}

@media (max-width: 399px) {
    .code {
        font-size: 1.0rem !important;
    }
}

@media (min-width: 400px) and (max-width: 576px) {
    .code {
        font-size: 1.125rem !important;
    }
}

#instance-types {
    word-break: keep-all;
}

.timeline {
    position: relative;
}

/* Vertical line */
.timeline::after {
    content: '';
    position: absolute;
    width: 2px;
    background-color: #333;
    top: 18px; /* Start from bottom of first circle */
    height: calc(100% - 48px); /* Adjusted to account for new starting position */
    left: 120px;
    margin-left: -1px;
}

/* Event container */
.timeline .event {
    position: relative;
}

/* Circle markers */
.timeline .event::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: rgb(33, 37, 41);
    border: 2px solid rgb(110, 223, 246);
    border-radius: 50%;
    top: 5px;
    left: 120px;
    transform: translateX(-50%);
    z-index: 1;
}

/* Date styling */
.timeline .date {
    position: absolute;
    width: 120px;
    text-align: right;
    left: 0;
    padding-right: 30px;
    top: 0;
}

/* Description styling */
.timeline .description {
    position: relative;
    max-width: calc(100% - 120px - 30px - 30px);
    left: 120px;
    padding-left: 30px;
    margin-top: 0;
}

.timeline .description code {
    word-break: keep-all;
}
