<!doctype html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title"
          content="{{ page.title }}{% if layout.title %} - {{ layout.title }}{% endif %} - Sprinters"/>
    <meta property="og:description" content="Secure, ephemeral, high-performance, low-cost runners within the privacy of your own VPC."/>
    <meta property="og:url" content="https://sprinters.sh{{ page.url }}"/>
    <meta property="og:image" content="https://sprinters.sh/assets/logo/sprinters-social.png"/>
    <title>{{ page.title }}{% if layout.title %} - {{ layout.title }}{% endif %} - Sprinters</title>
    <link href="/assets/bootstrap/5.3.3/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH">
    <link href="/assets/bootstrap-icons/1.13.1/font/bootstrap-icons.min.css" rel="stylesheet">
    <link href="/assets/sprinters.css" rel="stylesheet">
    <link href="/assets/highlight.css" rel="stylesheet">
    <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml" />
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="/assets/logo/sprinters-text-inverted.svg" height="40" alt="Sprinters">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-3 mb-lg-0 text-center">
                <li class="nav-item">
                    <a class="nav-link {% if page.name == 'new.html' %}nav-link-current{% endif %}" href="/new">What's new?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if page.name == 'pricing.html' %}nav-link-current{% endif %}" href="/pricing">Pricing</a>
                </li>
                <li class="nav-item me-lg-3 mb-3 mb-lg-0">
                    <a class="nav-link {% if page.layout == 'docs' %}nav-link-current{% endif %}" href="/docs">Docs</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-primary" href="https://console.sprinters.sh/login" target="_blank"><i
                                class="bi bi-github me-2"></i>Log in with GitHub</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="{{ layout.classes }} {{ page.classes }}">
    {{ content }}
</div>

<div class="mt-7 text-center container fs-4">
    <strong>Need help?</strong> We’re here for you at <a href="mailto:hello@sprinters.sh">hello@sprinters.sh</a>
</div>

<div class="text-body-tertiary mt-5 pt-5 pb-5 fs-7 text-center">
    <div class="fs-5">
        <a href="https://github.com/sprinters-sh/sprinters/issues"
           class="px-2 link-secondary link-underline link-underline-opacity-0 text-nowrap"
           target="_blank"><i class="bi bi-github"></i></a>
        <a href="https://x.com/sprinters_sh"
           class="px-2 link-secondary link-underline link-underline-opacity-0 text-nowrap"
           target="_blank"><i class="bi bi-twitter-x"></i></a>
        <a href="https://bsky.app/profile/sprinters.bsky.social"
           class="px-2 link-secondary link-underline link-underline-opacity-0 text-nowrap"
           target="_blank"><i class="bi bi-bluesky"></i></a>
    </div>
    <br>
    <div class="fs-6">
        <a href="/new" class="link-secondary text-nowrap">What's new?</a>
        <span class="px-1">&middot;</span> <a href="/pricing" class="link-secondary text-nowrap">Pricing</a>
        <span class="px-1">&middot;</span> <a href="/docs" class="link-secondary text-nowrap">Docs</a>
        <span class="px-1">&middot;</span> <a href="/docs/security" class="link-secondary text-nowrap">Security</a>
    </div>
    <br>
    <br>
    &copy; 2025 InfrastructureX GmbH<br>
    <a href="/terms" class="link-secondary text-nowrap">Terms of Service</a>
    <span class="px-1">&middot;</span> <a href="/privacy" class="link-secondary text-nowrap">Privacy Policy</a>
    <span class="px-1">&middot;</span> <a href="/impressum" class="link-secondary text-nowrap">Impressum</a><br>
    <span class="text-nowrap">Sprinters is a registered trademark of InfrastructureX GmbH</span><br>
    <span class="text-nowrap">Made with ♥️ in München</span>
</div>
<script src="/assets/bootstrap/5.3.3/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"></script>
<script src="/assets/sprinters.js"></script>
</body>
</html>
