<!doctype html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}{% if layout.title %} - {{ layout.title }}{% endif %} - Sprinters</title>
    <link href="/assets/bootstrap/5.3.3/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH">
    <link href="/assets/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css" rel="stylesheet">
    <link href="/assets/sprinters.css" rel="stylesheet">
    <link href="/assets/highlight.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand bg-body-tertiary">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="/assets/logo/sprinters-text-inverted.svg" height="40" alt="Sprinters">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-0">
                <li class="nav-item">
                    <a class="nav-link" href="/#pricing">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/docs">Docs</a>
                </li>
                <li class="nav-item ms-3">
                    <a class="btn btn-primary" href="https://console.sprinters.sh/login" target="_blank"><i class="bi bi-github me-2"></i>Log in<span class="d-none d-sm-inline"> with GitHub</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="{{ page.classes }}">
        {{ content }}
    </div>
</div>

<div class="text-body-tertiary mt-5 pt-5 pb-5 fs-7 text-center">
    &copy; 2025 InfrastructureX GmbH<br>
    <a href="/docs" class="link-secondary text-nowrap">Docs</a>
    <span class="px-1">&middot;</span> <a href="/docs/security" class="link-secondary text-nowrap">Security</a>
    <span class="px-1">&middot;</span> <a href="/terms" class="link-secondary text-nowrap">Terms of Service</a>
    <span class="px-1">&middot;</span> <a href="/privacy" class="link-secondary text-nowrap">Privacy Policy</a>
    <span class="px-1">&middot;</span> <a href="/impressum" class="link-secondary text-nowrap">Impressum</a><br>
    <span class="text-nowrap">Sprinters is a registered trademark of InfrastructureX GmbH</span><br>
    <span class="text-nowrap">Made with ♥️ in München</span>
</div>
<script src="/assets/bootstrap/5.3.3/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"></script>
<script src="/assets/sprinters.js"></script>
</body>
</html>
