---
layout: default
title: "Docs"
---
<div class="row">
    <div class="col-lg-2 sidebar">
        <div class="offcanvas-lg offcanvas-start" tabindex="-1" id="offcanvasResponsive"
             aria-labelledby="offcanvasResponsiveLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title fw-bold text-body" id="staticBackdropLabel">Docs</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                        data-bs-target="#offcanvasResponsive"
                        aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="nav nav-pills flex-column w-100">
                    <li class="nav-item">
                        <a class="nav-link disabled d-none d-lg-block fw-bold text-body fs-5 px-0 mt-4"
                           aria-disabled="true">Docs</a>
                    </li>

                    {% include nav-item.html path="docs/index.md" %}
                    {% include nav-item.html path="docs/setup/index.md" %}
                    {% include nav-item.html path="docs/test.md" %}
                    {% include nav-item.html path="docs/label.md" %}
                    {% include nav-item.html path="docs/security.md" %}
                    {% include nav-item.html path="docs/tips.md" %}
                    {% include nav-item.html path="docs/troubleshooting.md" %}
                </ul>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-10">
        <button class="btn btn-outline-secondary d-lg-none mt-3" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasResponsive" aria-controls="offcanvasResponsive">Jump to ...
        </button>

        {% include h1.html text=page.title %}
        {{ content }}
        {% include back.html path=page.back %}
        {% include next.html path=page.next %}
    </div>
</div>
